Unity/*
!Unity/Starhopper/

Unity/Starhopper/*
!Unity/Starhopper/Assets

Unity/Starhopper/Assets/*
!Unity/Starhopper/Assets/Scenes
!Unity/Starhopper/Assets/Starhopper
!Unity/Starhopper/Assets/*.json

*.spp

Scripts/